/* Write your CSS code here */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bg-container {
  background-color: #ffffff;
  height: 100vh;
  padding: 10px;
  font-family: 'Roboto';
  margin-bottom: 0px;
}
.logo-section {
  display: flex;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 20px;
}
.nav-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.nav-link {
  margin-right: 30px;
  color: #12022f;
  font-weight: bold;
  border: none;
  text-decoration: none;
}
.logo-heading {
  color: #12022f;
  font-weight: bold;
}
